@media screen and (min-width: 500px) and (max-width: 823px) {

    html {
        scroll-behavior: scroll;
    }

#nav {
    width: 100%;
    height: 50px;
    background-color: white;
    font-size: 20px;
    color: lightblue;
}
#nav ul li {
    float: left;
    margin-left: 40px;
    list-style: none;
    font-family: 'Noto Sans', sans-serif;
}
#nav ul li a {
    text-decoration: none;
}


#section1 {
    width: 100%;
    height: 500px;
    background-image: url('/image/blue.jpg');
}
#section1 img {
    margin-left: 30%;
}
#section1 p {
    color: #36454f;
    margin-left: 20% ;
    font-family: 'Noto Sans', sans-serif;
  
}
#section2 {
    width: 100%;
    height: 500px;
    background-image: url('/image/pink.jpg');
}
#section2 p {
    color:white;
    font-family: 'Noto Sans', sans-serif;
    padding: 25px 90px 10px 0px;
    margin-left: 30%;
}
#section2 img {
    margin-left: 25%;
}
#section3 {
    width: 100%;
    height: 468px;
    background-image: url('/image/wier.jpg');
    margin-top: 10px;
}
#section3 img {
    width: 50px;
    height: 50px;
    margin-top: 50px;
    margin-left: 100px;
}
#section3 p {
    font-family: 'Noto Sans', sans-serif;
    color: #36454f;
    padding: 25px 90px 10px 80px;
}
#section4 {
    width: 100%;
    height: 500px;
    background-image: url('/image/trawa.jpg');
    margin-top: 10px;
}

footer img {
    margin-left: 46%;
}



}
 